@charset "UTF-8";
.contentwidth{
	width:600px;
}
.content2{
	width:800px;
	margin-top:50px;

}
.content5{
	
	margin-bottom: 20px;
}
.content4{
	margin-top:20px;
	margin-bottom:20px;
	margin-left:20px;
	
}
.border1{
	border: 1px solid #4068A7;
	border-radius: 10px;
}
.border2{
	border: 1px solid #4068A7;
	border-radius: 15px;
	width:80px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.border3{
	
	width:150px;
	padding-top: 5px;
	padding-bottom: 5px;
}
svg{
	width:20px;
	height:25px;
}
.content3{
	width:600px; 
	height:300px !important;
    resize:none;
}

.poster{
	width:100px;
	height:150px;
	overflow: hidden;
	object-fit:cover;
}
.title1{
	font-size:17px;
	font-weight: bold;
	color: #213555;
	border: none;
}
.tel1{
	color:#8B8C8D;
	border-top: none !important;
	border-bottom:none !important;
	padding-top: -70px !important;
	font-size:14px !important;
	font-weight: bold;
}
.addr1{
	border-top: none !important;
	font-weight:bold;
	font-size:13px;
	color: #213555;
	padding-top: 50px !important;
}
.cont1{
	width:100px;
}
.btn2{
	margin-top:50px;
	border:none;
	border-radius:25px;
  	background:#3239AF;
  	width: 70px;
  	height:35px;
  	color: #fff;
  	cursor: pointer;
  	margin-left: 30px;
}
.btn2:hover{
 	background-color: #686DB9;
}
