@charset "UTF-8";
<style>

.container{
	flex-direction: column;
}
.containerHead {
    display: flex;
}

.containerHead div{
	margin: 20px;
	cursor: pointer;
}
.containerHead div:active{
	margin: 20px;
	cursor: pointer;
}

.containerBody{
	width: 1000px;
	display: flex;
}
.regcom{
	background-color: gray;
	border-radius:25px;
	width: 500px;
}
.regcom div{
	margin-left:20px;
}
.regcom textarea{
	border: 1px solid #4068A7;
	border-radius: 15px;
	resize: none;
	padding:15px 20px;
	background:rgba(255,255,255,.1);
	background-color:white;
	width: 400px;
	height: 100px;
	font-size: 5px;
}
.regcom label{
	margin-bottom: -20px;
	width: 100px;
}
.typeForm label{
	margin-bottom: -20px;
	width: 160px;
	}
.regcom input, .typeForm input{
	border-color:#4068A7;
	border-radius:15px;
	background:rgba(255,255,255,.1);
	background-color:white;
	margin-bottom:10px;
	width: 400px;
	height: 29px;
	font-size: 10px;
}
.age input {
	width: 100px;
	text-align: center;
	font-size: 15px;
}
#findAddr{
	width:20%;
	background-color: #666CDE;
	color: white;
}
#addr1{
	width: 63%
}

#parkCheck, #petCheck, #babyCheck{
	height: 15px;
	width:20px;
}
.regType{
	background-color: #213555;
	width:500px;
	border-radius:25px;
	margin-left: -40px;
}
.typeForm{
	color : white;
}
</style>