<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ari.mapper.AdminMapper">
<select id="adminLogin" parameterType="String" resultType="String">
	select adminpwd
	from admin
	where adminid=#{adminid}
</select>
<select id="userManager" parameterType="map" resultType="com.ari.member.model.MemberDTO">
	select * from
		(select rownum as rnum,a.* from
		(select * from userinfo order by userdate desc)a)b
	<if test='usertype lt 3'>
	where usertype = #{usertype} and
	 rnum<![CDATA[>=]]>#{start} and rnum<![CDATA[<=]]>#{end}
	</if>
	<if test='usertype gt 2'>
	where rnum<![CDATA[>=]]>#{start} and rnum<![CDATA[<=]]>#{end}
	</if>
</select>
<select id="userManagerTotalCnt" parameterType="Integer" resultType="Integer">
	select count(*)
	from userinfo
	<if test='usertype lt 3'>
	where usertype = #{usertype}
	</if>
</select>
</mapper>  