<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ari.mapper.CosMapper">
	<select id="CosList" resultType="com.ari.cos.model.CosDTO">
		select * from cos
	</select>
	<select id="cosContent" resultType="com.ari.cos.model.CosDTO" parameterType="Integer">
		select * from cos where idx=#{idx}
	</select>
</mapper>