<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ari.mapper.DetailMapper">
  	<select id="foodListIn" parameterType="com.ari.detail.model.searchVO" resultType="com.ari.detail.model.FoodDTO">
  		select idx,infoName,info,infoImg
  		from food 
  		where area=#{area}
  		and infoName like '%' || #{search} || '%'
  	</select>
  	<select id="berthInfoListIn" parameterType="com.ari.detail.model.searchVO" resultType="com.ari.detail.model.BerthInfoDTO">
  	    select idx,infoName,info,infoImg
  	    from berthInfo 
  	    where area=#{area}
  	    and infoName like '%' || #{search} || '%'
  	</select>
  	<select id="attListIn" parameterType="com.ari.detail.model.searchVO" resultType="com.ari.detail.model.AttDTO">
  		select idx,addr,infoName,attImg
  		from att 
  		where area=#{area}
  		and infoName like '%' || #{search} || '%'
  	</select>
  	<select id="festivalListIn" parameterType="com.ari.detail.model.searchVO" resultType="com.ari.festival.model.FestivalDTO">
  		select festIdx,festCont,festTitle,festImg
  		from fest 
  		where area=#{area}
  		and festTitle like '%' || #{search} || '%'
  	</select>
  	<select id="foodList" parameterType="String" resultType="com.ari.detail.model.FoodDTO">
  		select idx,infoName,info,infoImg
  		from food 
  		where infoName like '%' || #{search} || '%'
  	</select>
  	<select id="berthInfoList" parameterType="String" resultType="com.ari.detail.model.BerthInfoDTO">
  	    select idx,infoName,info,infoImg
  	    from berthInfo
  	    where infoName like '%' || #{search} || '%'
  	</select>
  	<select id="attList" parameterType="String" resultType="com.ari.detail.model.AttDTO">
  		select idx,addr,infoName,attImg
  		from att
  		where infoName like '%' || #{search} || '%'
  	</select>
  	<select id="festivalList" parameterType="String" resultType="com.ari.festival.model.FestivalDTO">
  		select festIdx,festCont,festTitle,festImg
  		from fest 
  		where festTitle like '%' || #{search} || '%'
  	</select>
  	<select id="foodDetail" parameterType="int" resultType="com.ari.detail.model.FoodDTO">
  		select *
  		from food
  		where idx=#{idx}
  	</select>
  	<select id="berthInfoDetail" parameterType="int" resultType="com.ari.detail.model.BerthInfoDTO">
  		select * 
  		from berthInfo
  		where idx=#{idx}
    </select>
    <select id="berthDetail" parameterType="com.ari.detail.model.BerthDTO" resultType="com.ari.detail.model.BerthDTO">
    	SELECT B.*/*NVL(R.reserstate,0)as reserstate*/
    	FROM BERTH B LEFT OUTER JOIN reser R ON B.idx = R.idx AND B.BERTHIDX = R.BERTHIDX
    	AND R.reservisitSTART <![CDATA[>=]]> TO_DATE(#{startDate}, 'YYYYMMDD') 
		AND R.reservisitEND  <![CDATA[<=]]> TO_DATE(#{endDate}, 'YYYYMMDD')
		WHERE B.idx = #{idx}
    </select>
    <select id="attDetail" parameterType="int" resultType="com.ari.detail.model.AttDTO">
    	select * 
    	from att 
    	where idx=#{idx}
    </select>
    <select id="festDetail" parameterType="int" resultType="com.ari.festival.model.FestivalDTO">
    	select * 
    	from fest
    	where festIdx=#{idx}
    </select>
  </mapper>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  