<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ari.mapper.FestivalMapper">
	<insert id="festAdd" parameterType="com.ari.festival.model.FestivalDTO">
		insert into fest
		values(
			fest_festidx.nextval,
			#{festtitle},
			sysdate,
			#{festtel},
			#{festtelname},
			#{festhome},
			#{area},
			#{festsigungu},
			#{festaddr},
			#{festcont},
			0,
			#{festimg},
			#{festdate},
			#{festprice},
			#{festcontent},
			#{feststart},
			#{festend},
			0
		)
	</insert>
	<select id="totalCnt">
		select count(*)
		from fest
	</select>
	<select id="totalCntArea" parameterType="int">
		select count(*)
		from fest
		where area=#{area}
	</select>
	<select id="festList" parameterType="Map" resultType="com.ari.festival.model.FestivalDTO">
		select * from 
			(select rownum as rnum, a.* from 
			(select * from fest order by festidx desc) a) b
		where rnum<![CDATA[>=]]>#{start} and rnum<![CDATA[<=]]>#{end}
	</select>
	<select id="festListArea" parameterType="Map" resultType="com.ari.festival.model.FestivalDTO">
		select * from 
			(select rownum as rnum, a.* from 
			(select * from fest where area=#{area} 
						order by festidx desc) a) b
		where rnum<![CDATA[>=]]>#{start} and rnum<![CDATA[<=]]>#{end}
	</select>
	<select id="festListAreaTitleDesc" parameterType="Map" resultType="com.ari.festival.model.FestivalDTO">
		select * from 
			(select rownum as rnum, a.* from 
			(select * from fest where area=#{area} 
						order by festtitle asc) a) b
		where rnum<![CDATA[>=]]>#{start} and rnum<![CDATA[<=]]>#{end}
	</select>
	<select id="festContent" parameterType="int" resultType="com.ari.festival.model.FestivalDTO">
		select *
		from fest
		where festidx=#{festidx}
	</select>
	<select id="getFestImg" parameterType="int" resultType="String">
		select festimg
		from fest
		where festidx=#{festidx}
	</select>
	<delete id="festDel" parameterType="int">
		delete from fest
		where festidx=#{festidx}
	</delete>
	<update id="festUpd" parameterType="com.ari.festival.model.FestivalDTO">
		update fest
		set festtitle=#{festtitle},
			festtel=#{festtel},
			festtelname=#{festtelname},
			festhome=#{festhome},
			festsigungu=#{festsigungu},
			festaddr=#{festaddr},
			festcont=#{festcont},
			festimg=#{festimg},
			festdate=#{festdate},
			festprice=#{festprice},
			festcontent=#{festcontent},
			feststart=#{feststart},
			festend=#{festend},
			festapi=#{festapi}
		where festidx=#{festidx}
	</update>
	

</mapper>