<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ari.mapper.LikeMapper">
	<update id="like" parameterType="com.ari.like.model.LikeDTO">
	<![CDATA[
	MERGE INTO likeTable a
	using dual
	on (a.idx = #{idx} and a.likeType = #{likeType} and a.userIdx = #{userIdx})
	when matched then
	update set
		a.likeYN = 'Y'
	when not matched then
	insert(
	a.idx,
	a.likeType,
	a.userIdx,
	a.likeYN
	)
	values(
	#{idx},
	#{likeType},
	#{userIdx},
	'Y'
	)
	]]>
	</update>
	<update id="likeNo" parameterType="com.ari.like.model.LikeDTO">
		update liketable
		set likeYN = 'N'
		where idx = #{idx} and likeType = #{likeType} and userIdx = #{userIdx}
	</update>
</mapper>