<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ari.mapper.LikeMapper">
	<update id="like" parameterType="com.ari.like.model.LikeDTO">
	MERGE INTO likeTable a
	using dual
	on (a.idx = #{idx} and a.likeType = #{likeType} and a.userId = #{userId})
	when matched then
	update set
		a.likeYN = #{likeYN}
	when not matched then
	insert(
	a.idx,
	a.likeType,
	a.userId,
	a.likeYN,
	a.img
	)
	values(
	#{idx},
	#{likeType},
	#{userId},
	'Y',
	#{img}
	)
	</update>
	<select id="likeSelect" parameterType="com.ari.like.model.LikeDTO" resultType="String">
		SELECT LikeYN
		FROM LIKETABLE
		WHERE IDX = #{idx} AND LIKETYPE = #{likeType} AND USERID = #{userId}
	</select>
</mapper>