<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ari.mapper.MemberMapper">
	<select id="memberLogin" parameterType="String" resultType="String">
		select userpwd
		from userinfo
		where userid=#{userid}		
	</select>
	<select id="getUserInfo" parameterType="String" resultType="com.ari.member.model.MemberDTO">
		select *
		from userinfo
		where userid=#{userid}
	</select>
	<select id="idFind" parameterType="String" resultType="com.ari.member.model.MemberDTO">
		select userid
		from userinfo
		where username=#{username} and usertel=#{usertel}
	</select>
	<select id="idCheck" parameterType="String" resultType="Integer">
		select count(*)
		from userinfo
		where userid=#{userid}
	</select>
	<select id="bnCheck" parameterType="String" resultType="Integer">
		select count(*)
		from userinfo
		where userbn=#{userbn}
	</select>
	<select id="kakaoCheck" parameterType="String" resultType="Integer">
		select count(*)
		from userInfo
		where userid = #{userid}
	</select>
	<insert id="kakaoJoin" parameterType="com.ari.member.model.MemberDTO">
	insert into userInfo
	values(
	#{userid},
	1,
	1,
	'null',
	#{username},
	#{usertel},
	#{useraddr1},
	#{useraddr2},
	#{useraddr3},
	#{usertoken},
	'/img/profile.png',
	'N',
	99,
	sysdate
	)
	</insert>
	<insert id="memberJoin" parameterType="com.ari.member.model.MemberDTO">
		INSERT INTO USERINFO
		VALUES(
		#{userid},
		#{usertype},
		#{userbn},
		#{userpwd},
		#{username},
		#{usertel},
		#{useraddr1},
		#{useraddr2},
		#{useraddr3},
		'0',
		'/img/profile.png',
		'N',
		#{userarea},
		sysdate
		)
	</insert>
</mapper>