<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ari.mapper.MemberMapper">
	<select id="memberLogin" parameterType="String" resultType="String">
		select userpwd
		from userinfo
		where userid=#{userid}		
	</select>
	<select id="getUserInfo" parameterType="String" resultType="com.ari.member.model.MemberDTO">
		select *
		from userinfo
		where userid=#{userid}
	</select>
	<select id="idFind" parameterType="String" resultType="com.ari.member.model.MemberDTO">
		select userid
		from userinfo
		where username=#{username} and usertel=#{usertel}
	</select>
	<select id="idCheck" parameterType="String" resultType="int">
		select count(*)
		from userinfo
		where userid=#{userid}
	</select>
	<select id="kakaoCheck" parameterType="String" resultType="Integer">
		select count(*)
		from userInfo
		where userid = #{userid}
	</select>
	<insert id="kakaoJoin" parameterType="com.ari.member.model.MemberDTO">
	insert into userInfo
	values(
	#{userid},
	1,
	'123',
	'1234',
	#{username},
	#{usertel},
	#{userAddr1},
	#{userAddr2},
	#{userAddr3},
	#{usertoken},
	'0',
	'N'
	)
	</insert>
</mapper>