<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ari.mapper.NoticeMapper">
	<insert id="noticeAdd" parameterType="com.ari.notice.model.NoticeDTO">
		insert into notice
		values(notice_noticeIdx.nextval,
			#{adminid},
			#{noticetype},
			#{noticetitle},
			#{noticecontent},
			0,
			sysdate,
			#{noticetop})
	</insert>
	<select id="checkTopU" parameterType="int" resultType="int">
		select count(*)
		from notice
		where noticetop=1 and (noticetype=#{user} or noticetype=3) 
	</select>
	<select id="checkTopA" resultType="int">
		select count(*)
		from notice
		where noticetop=1 
	</select>

</mapper>  