<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ari.mapper.PlanMapper">
	<select id="getAttList" parameterType="int" resultType="com.ari.detail.model.AttDTO">
		select *
		from att
		where area=#{area} and sigungu = #{sigungu}
	</select>
	<select id="getFoodList" parameterType="int" resultType="com.ari.detail.model.FoodDTO">
		select *
		from food
		where area=#{area} and sigungu = #{sigungu}	
	</select>
	<select id="getBerthInfoList" parameterType="int" resultType="com.ari.detail.model.BerthInfoDTO">
		select *
		from berthInfo
		where area=#{area} and sigungu = #{sigungu}		
	</select>
	<insert id = "planInsert" parameterType="com.ari.plan.model.PlanTableDTO">
	insert into planTable
	values(
		planTable_planIdx.nextval,
		#{userID},
		sysdate,
		planTable_planIdx.nextval,
		#{planStart},
		#{planEnd},
		#{planBigImg},
		#{planPoint}
	)
	</insert>
		<select id="planList" resultType="com.ari.plan.model.PlanTableDTO">
		select * from(
    	select *  from planTable order by rownum desc
    	)
		where rownum = 1
	</select>
	<insert id = "plannerInsert" parameterType="com.ari.plan.model.PlannerTableDTO">
	insert into plannerTable
	values(
		plannerTable_plannerIdx.nextval,
		#{userID},
		#{plannerName},
		#{plannerType},
		#{plannerDay},
		#{plannerStep},
		#{Idx},
		#{plannerGroup},
		#{plannerImg},
		0
	)
	</insert>
</mapper>