<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ari.mapper.ReserMapper">
  <select id="reserSelect" parameterType="map" resultType="com.ari.reser.model.ReserDTO">
  select * from
		(select rownum as rnum,a.* from
		(select r.reseridx,r.idx,r.userid,r.resername,
		r.reservisitstart,r.reservisitend,
		r.reserprice,r.reserpriceday,r.resertel,r.reserstate,
		r.reserreview,r.reserper,b.berthinfoimg,b.berthinfoname,c.berthname
		from reser r,berthinfo b,berth c
		where r.idx = b.idx and r.idx = c.berthidx and b.userbn = (select userbn from userinfo where userid = #{userid})
		order by reservisitstart) a) b
	where rnum<![CDATA[>=]]>#{start} and rnum<![CDATA[<=]]>#{end}
  </select>
  <select id="reserTotalCnt" resultType="Integer" parameterType="String">
  select count(*)
  from reser
  where 1 = 1
  <if test='userId != null and !"".equals(userId)'>
  and userId = #{userId}
  </if>
  </select>
  <update id="reserCancel" parameterType="Integer">
  	update reser
  	set reserstate = 0
  	where reseridx = #{reserIdx}
  </update>
  <select id="reserForm" parameterType="map" resultType="com.ari.reser.model.ReserDTO">
  	select b.berthName,b.berthPrice as reserPrice,bi.berthInfoStart,
  	bi.berthInfoEnd,bi.infoImg as berthInfoImg,bi.infoname as berthInfoName
	from berth b,berthinfo bi
	where b.berthidx = #{berthIdx} and bi.idx = #{idx}
  </select>
  <insert id="reserInsert" parameterType="com.ari.reser.model.ReserDTO">
  	insert into reser
  	values(reseridx.nextval,#{berthIdx},#{userId},#{reserName},#{reserVisitStart},#{reserVisitEnd},
  	#{reserPrice},sysdate,#{reserTel},1,'N',#{reserPaymentKey})
  </insert>
  <update id="reserVisitInsert" parameterType="java.util.List">
  INSERT ALL
  	<foreach collection="list" item="item">
  		 INTO reservisit (berthIdx, reserVisit) VALUES (#{item.berthIdx}, #{item.reserVisit})
  	</foreach>
  SELECT * FROM DUAL
</update>
  </mapper>