<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ari.mapper.ReviewMapper">
	<insert id="reviewContent" parameterType="com.ari.review.model.ReviewDTO">
		insert into review
			values(review_reviewIdx.nextval,
				#{reserIdx},
				#{userId},
				#{berthIdx},
				#{reviewContent},
				sysdate,
				#{reviewScore},
				#{reviewImg})
	</insert>
	<update id="reserReviewUpdate" parameterType="com.ari.reser.model.ReserDTO">
		update reser
        set reserReview = 'Y' 
        where userId = #{userId} and berthIdx = #{berthIdx} and reserIdx=#{reserIdx}
	</update>
	<select id="getBerthidx" parameterType="int" resultType="int">
		select berthidx
		from reser
		where reseridx=#{idx}
	</select>
	<delete id="reviewDel" parameterType="com.ari.review.model.ReviewDTO">
		delete from review
		where reserIdx=#{reserIdx}
	</delete>
	<update id="reserReviewDel" parameterType="com.ari.reser.model.ReserDTO">
		update reser
        set reserReview = 'N' 
        where reserIdx=#{reserIdx}
	</update>
</mapper>