<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ari.mapper.ShareMapper">
	<select id="planList" parameterType="String" resultType="com.ari.plan.model.PlanTableDTO">
		select * from planTable where userID=#{userId}
	</select>
	<select id="shareList" resultType="com.ari.share.model.ShareDTO">
		select * from sharetable
	</select>
	<select id="shareDetail" resultType="com.ari.share.model.ShareDTO" parameterType="Integer">
		select * from sharetable where idx=#{idx}
	</select>
	<insert id="share" parameterType="com.ari.share.model.ShareDTO"> 
		insert into sharetable values(share_Idx.nextval,#{userId},#{planidx},#{shareTitle},#{shareContent},sysdate,
		0,0)
	</insert>
	<select id="plan" parameterType="int" resultType="com.ari.plan.model.PlanTableDTO">
		select userID,planStart,planEnd,planBigImg,planPoint from planTable where planIdx=#{planIdx}
	</select>
	<update id="readNum" parameterType="int">
		update sharetable set shareRead=shareRead+1 where idx=#{idx}
	</update>
	<delete id="shareDel" parameterType="int">
		delete from sharetable where idx=#{idx}
	</delete>
	<select id="myShare" parameterType="String" resultType="com.ari.share.model.ShareDTO">
		select * from sharetable where userId=#{userId}
	</select>
	<update id="shareLike" parameterType="com.ari.like.model.LikeDTO">
		update <if test="likeType == 1">cos
		set coslike = <if test='likeYN != null and likeYN.equals("Y")'>coslike+1</if>
		<if test='likeYN != null and likeYN.equals("N")'>coslike-1</if>
		</if>
		<if test="likeType == 2">sharetable
		set sharelike = <if test='likeYN != null and likeYN.equals("Y")'>sharelike+1</if>
		<if test='likeYN != null and likeYN.equals("N")'>sharelike-1</if>
		</if>
		where idx = #{idx}
	</update>
</mapper>